{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <section class='about'>
            <div class='about-content'>
                <h2>Abou Us</h2>
                <p>Welcome to The Hungry Fork, the southernmost dining experience on Earth, nestled in the heart of 
                    Antarctica’s icy expanse! We’re not your average restaurant—we thrive where the penguins outnumber 
                    people and the air is as crisp as our freshly baked bread.</p>

                <p>Our journey began with a wild idea: “Why not bring gourmet flavors to the coldest continent?” 
                    And here we are, serving world-class dishes at sub-zero temperatures to explorers, scientists, 
                    and the occasional curious seal.</p>

                <p>At The Hungry Fork, we take pride in crafting meals that warm your soul while the world outside 
                    is frozen solid. From freshly caught Antarctic cod to globally inspired delicacies, every bite 
                    is an adventure. Our chefs have mastered the art of cooking in extreme conditions, proving that 
                    passion knows no climate.</p>

                <p>Whether you’re here after a long day of research or simply chasing the thrill of dining at the 
                    edge of the world, we’ve got you covered. Cozy interiors, steaming hot meals, and a view of 
                    endless ice—what more could you ask for? So, grab a fork and join us for an unforgettable 
                    culinary expedition at The Hungry Fork!</p>

            </div>
            <div class='about-img'>
                <img src="#" alt="Antartica Restaurant">
            </div>
        </section>
        <section class='gallery'>

        </section>
        <section class='offers'>

        </section>
        <section class='location'>

        </section>
    </main>
    
{% endblock %}  