<header>
    <div class='heading'>
        {% comment %} <img src="{%static 'projectsrc/images/fork.png' %}" alt="The Hungry Fork Logo"> {% endcomment %}
        <h1>The Arctic Fork</h1> 
    </div>
</header>
<nav>
    <ul>
        <li><a href="{% url 'homeApp:home_page' %}">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Order Online</a></li>
        <li><a href="#">Reserve Table</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>