{% load static %}
<link rel="stylesheet" href="{% static 'css/header_style.css'%}">
<header>
    <div class='heading'>
        <img src="{%static 'images/fork.png' %}" alt="The Hungry Fork Logo">
        <h1>The Arctic Fork</h1> 
    </div>
</header>
<nav>
    <ul>
        <li><a href="{% url 'homeApp:home_page' %}">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="{% url "menuApp:menu_page" %}">Menu</a></li>
        <li><a href="#">Order Online</a></li>
        <li><a href="{% url "reservationApp:reserve_table" %}">Reserve Table</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>